html, body {
    background-color: tomato;
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
    max-height: 100%;
    min-height: 100%;
    min-width: 100%;
}

.topbar {
    height: 15%;
    margin: 2px;
    display: flex;
}

.map {
    height: 90%;
}

.account {
    background-color: rgb(127, 127, 245);
    text-align: center;
    height: 100%;
    width: 15%;
}

.timeline {
    background-color: rgb(67, 166, 253);
    text-align: center;
    height: 100%;
    width: 83%;
}

.description {
    padding: 10px;
    margin: 2px;
}

@media screen and (min-width:500px) {
    .topbar {
        height: 5%;
        margin: 2px;
    }
}
